/* .userDataForm input{
    margin: 10px 0;
} */

input {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #ffffff 1px;
  padding: 3px 10px;
}

.textContainer hr{
  border: solid white 2px;
  background-color: #ffffff;
  border-radius: 20px;
}

button[type=submit]{
  margin: 10px 0;
}
