.userDataForm input{
    margin: 10px 0;
}

#testRecords {
    border-collapse: collapse;
    width: 100%;
}

#testRecords td, #testRecords th {
    padding: 8px;
  }
  
  /* #testRecords tr:nth-child(even){background-color: #f2f2f2;} */
  #testRecords {
      margin: 2em 0 3em;
  }
  
  #testRecords th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F0EDE9;
    color: var(--light-turquoise-color);
  }
  #testRecords td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #F0EDE9;
    background-color: var(--dark-turquoise-color);
  }

  tr{
      /* display: flex;
      align-items:center */
      vertical-align:text-bottom;
      text-align: center;
  }
  tr a{
      color: #ffffff;
  }

  .textContainer{
      color: #ffffff;
  }