.react-chatbot-kit-chat-message-container {
  overflow: initial;
  overflow-y: scroll;
}
.react-chatbot-kit-chat-input{
  color: black;
}
.userIcon{
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-left: 12.5px;
  background-color: #acb6ff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-chatbot-kit-user-chat-message{
  background-color: #acb6ff;
  color: white;
}
.react-chatbot-kit-user-chat-message-arrow {
  border-left-color: #acb6ff;
}
.botIcon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 12.5px;
  background-color: #616ec8;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-chatbot-kit-chat-bot-avatar-container {
  background-color: #616ec8;
}
.react-chatbot-kit-chat-bot-avatar-letter{
  color: #ffffff;
}
.widget{
  color: white;
  font-size: 12px;
  background-color: #5A6BF0;;
  padding: 8px 70px 10px;
  border-radius: 5px;
  height: 30px;
	text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.widgetDiv{
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 100%;
}
.bertaContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px){
  .react-chatbot-kit-chat-container {
    position: relative;
    width: 100vw;
  } 
  .react-chatbot-kit-chat-inner-container {
    height: 100vh;
    margin-bottom: 0;
  }
  .react-chatbot-kit-chat-bot-message {
    width: 100%;
  }
  .react-chatbot-kit-chat-message-container {
    height: calc(100% - 75px);
  }
}