.navbar{
    display: flex;
    font-style:italic;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-turquoise-color);
}

.logoAnsiedapp{
  width: 250px;
  height: 50%;
  margin: 0 10px;
  padding: 10px;
}
.logoSubtitle{
  text-decoration: none;
  color: #ffffff;
  font-size: xx-small;
  margin: 0 10px;
}


.navbarLinks a:hover {
  background-color: #B5E3D8;
  border-radius: 20px;
}

.credentials a{
  text-decoration: none;
  padding-left: 5px;;
  padding-right: 5px;;
}

.credentials a:hover{
  background-color: #B5E3D8;
  border-radius: 20px;
}


  @media (min-width: 767px) {
    .navbarLinks a {
      float: left;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
    }

    .credentials{
      display: flex;
      flex-direction: column;
      text-align: end;
      border-radius: 10px;
      padding: 10px;
      text-decoration: none;
  }
}

#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -10px;
  left: -13px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  margin-right: 15px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{    
  transform-origin: 50% 100%;
}
#menuToggle span:last-child
{    
  transform-origin: 75% -30%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  height: 0;
  background: var(--dark-turquoise-color);
  margin: 0;
  list-style-type: none;
  transition: height 0.3s 0.3s ease-in-out;
}


#menu li
{
  position: relative;
  padding: 10px 0;
  font-size: 22px;
  height: 47px;
  pointer-events: none;
}
#menu a
{
  color: white;
  text-decoration: none;
  position: absolute;
  transform: translateX(-200%);
  transition: all 1s;
}

#menu.menu--show
{
  height: 150px;
  transition: height 0.2s;
}


#menu.menu--show li
{
 pointer-events: initial;
}

#menu.menu--show a
{
  transform: translateX(0);
}

#menuToggle input:checked ~ ul
{
  transform: none;
}